# Data Types and Structures Assignment Questions

## Data Types and Structures Questions

1. **What are data structures, and why are they important?**  
   Data structures are ways to store and organize data efficiently. They help in managing data for fast access and modification.  

2. **Explain the difference between mutable and immutable data types with examples.**  
   Mutable data types can be changed after creation (e.g., lists). Immutable data types cannot be changed (e.g., tuples).  

3. **What are the main differences between lists and tuples in Python?**  
   Lists are mutable and can be modified, while tuples are immutable and cannot be changed after creation.  

4. **Describe how dictionaries store data.**  
   Dictionaries store data as key-value pairs, where each key maps to a specific value for fast lookup.  

5. **Why might you use a set instead of a list in Python?**  
   Sets do not allow duplicate values and provide faster lookups compared to lists.  

6. **What is a string in Python, and how is it different from a list?**  
   A string is a sequence of characters, but unlike lists, it is immutable and cannot be changed.  

7. **How do tuples ensure data integrity in Python?**  
   Tuples ensure data integrity because they are immutable and prevent accidental modification.  

8. **What is a hash table, and how does it relate to dictionaries in Python?**  
   A hash table is a data structure that stores key-value pairs using a hash function, similar to Python dictionaries.  

9. **Can lists contain different data types in Python?**  
   Yes, lists can store different data types like integers, strings, and even other lists.  

10. **Explain why strings are immutable in Python.**  
   Strings are immutable because their memory allocation remains fixed, preventing modifications.  

11. **What advantages do dictionaries offer over lists for certain tasks?**  
   Dictionaries allow fast lookups using keys, whereas lists require searching through elements.  

12. **Describe a scenario where using a tuple would be preferable over a list.**  
   Tuples are preferable when data should not change, such as storing constant configuration values.  

13. **How do sets handle duplicate values in Python?**  
   Sets automatically remove duplicate values and only store unique elements.  

14. **How does the “in” keyword work differently for lists and dictionaries?**  
   The "in" keyword checks if a value exists in a list, but in dictionaries, it checks for keys only.  

15. **Can you modify the elements of a tuple? Explain why or why not.**  
   No, tuple elements cannot be modified because tuples are immutable.  

16. **What is a nested dictionary, and give an example of its use case?**  
   A nested dictionary is a dictionary inside another dictionary, useful for storing structured data like student records.  

17. **Describe the time complexity of accessing elements in a dictionary.**  
   Accessing elements in a dictionary has an average time complexity of **O(1)** due to hashing.  

18. **In what situations are lists preferred over dictionaries?**  
   Lists are preferred when order matters or when frequent modifications like adding/removing elements are needed.  

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**  
   Dictionaries are unordered because they store keys using a hash function, making retrieval order unpredictable.  

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**  
   Lists store values in order, while dictionaries store data as key-value pairs, allowing fast lookups by key.

# Practical Questions

In [1]:
# 1. Create a string with your name and print it
name = "YourName"
print(name)

YourName

In [2]:


# 2. Find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [3]:


# 3. Slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [4]:


# 4. Convert the string "hello" to uppercase
word = "hello"
print(word.upper())

# 5. Replace "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

# 7. Append the number 10 to the list [1, 2, 3, 4]
num_list = [1, 2, 3, 4]
num_list.append(10)
print(num_list)

# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
num_list2 = [1, 2, 3, 4, 5]
num_list2.remove(3)
print(num_list2)

# 9. Access the second element in the list ['a', 'b', 'c', 'd']
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

# 10. Reverse the list [10, 20, 30, 40, 50]
num_list3 = [10, 20, 30, 40, 50]
num_list3.reverse()
print(num_list3)

HELLO
I like orange
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 10]
[1, 2, 4, 5]
b
[50, 40, 30, 20, 10]

In [5]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
print(tuple1)

# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

# 13. Find the minimum number in the tuple (10, 20, 5, 15)
numbers_tuple = (10, 20, 5, 15)
print(min(numbers_tuple))

# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

# 15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

# 16. Create a set with the elements 'a', 'b', 'c' and print it
letters = {'a', 'b', 'c'}
print(letters)

# 17. Clear all elements from the set {1, 2, 3, 4, 5}
numbers_set = {1, 2, 3, 4, 5}
numbers_set.clear()
print(numbers_set)

# 18. Remove the element 4 from the set {1, 2, 3, 4}
numbers_set2 = {1, 2, 3, 4}
numbers_set2.remove(4)
print(numbers_set2)

# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set3 = {1, 2, 3}
set4 = {2, 3, 4}
print(set3.intersection(set4))

(100, 200, 300)
blue
5
1
False
{'a', 'c', 'b'}
set()
{1, 2, 3}
{1, 2, 3, 4, 5}
{2, 3}

In [6]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it
details = {"name": "John", "age": 30, "city": "New York"}
print(details)



# 22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)



# 23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
details2 = {'name': 'Alice', 'age': 30}
print(details2["name"])



# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
details3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del details3["age"]
print(details3)



# 25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
details4 = {'name': 'Alice', 'city': 'Paris'}
print("city" in details4)

# 26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list, my_tuple, my_dict)



# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)



# 28. Create a list with strings and print the element at the third index
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])



# 29. Combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)


# 30. Convert a list of strings into a set
string_list2 = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list2)
print(string_set)

{'name': 'John', 'age': 30, 'city': 'New York'}
{'name': 'John', 'age': 25, 'country': 'USA'}
Alice
{'name': 'Bob', 'city': 'New York'}
True
[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}
[44, 53, 60, 76, 81]
date
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'apple', 'banana', 'cherry'}